@model DetailSliderVM

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Slider Detail</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">

                <!-- NAME -->
                <div class="form-group">
                    <img width="200px" height="200px" src="~/img/@Model.Image" />
                </div>

                <!-- BUTTONS -->
                <a class="btn btn-light" asp-action="Index">Back</a>

            </form>

        </div>
    </div>
</div>