@model DetailCategoryVM

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Category Detail</h4>
            <form class="forms-sample" method="post">

                <!-- NAME -->
                <div class="form-group">
                    <label for="exampleInputName1">Name</label>
                    <input value="@{@Model.Id} - @{@Model.Name}" type="text" class="form-control" id="exampleInputName1" placeholder="Name" disabled>
                </div>

                <!-- BUTTONS -->
                <a class="btn btn-light" asp-action="Index">Back</a>
            </form>

        </div>
    </div>
</div>  